*{
  font-family: 'Montserrat', sans-serif;
}

body{
  padding:0.5px;
  margin: 0.5px;
}

#menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#menu li{
  
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

section{
  display: flex;
}
  




