
#menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#menu li{
  
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

section{
  display: flex;
}

#ZoneChat{
  width: 630px;
  height: 220px;
}




